<div class="main-tab">


  <table class="table table-striped" st-pipe="Providers.callServer" st-table="Providers.smartTable.rowCollection">
    <thead>
    <tr>
      <th colspan="3">
        <span class="main-tab-title">Providers</span> <a class="add-btn"
                                                         popover-trigger="mouseenter"
                                                         popover="New Provider"
                                                         ng-click="Providers.on.newOptsClick()">
        <i class="icon-plus"></i></a>
      </th>

      <th colspan="2">
        <div class="input-group search-ctrol">
          <input st-search placeholder="Search" class="input-sm form-control" ng-model="globalSearch" type="search"/>
          <span class="input-group-addon"><i class="icon-search"></i></span>

        </div>


      </th>
    </tr>
    <tr>
      <th width="23%"><span st-sort="name" class="col-header">Name</span></th>
      <th width="23%"><span st-sort="descr" class="col-header">Description</span></th>
      <th width="23%"><span st-sort="phone" class="col-header">Phone</span></th>
      <th width="23%"><span st-sort="address" class="col-header">Address</span></th>
      <th width="8%"></th>
    </tr>
    <!--<tr>-->
    <!--<th><input st-search="id"/></th>-->
    <!--<th><input st-search="name"/></th>-->
    <!--<th><input st-search="age"/></th>-->
    <!--<th><input st-search="saved"/></th>-->

    <!--</tr>-->
    </thead>
    <tbody ng-if="!Providers.smartTable.isLoading">
    <tr ng-repeat="row in Providers.smartTable.rowCollection" st-selected-row="row">

      <td ng-bind-html="row.name | highlight: globalSearch"></td>
      <td ng-bind-html="row.descr | highlight: globalSearch"></td>
      <td ng-bind-html="row.phone | highlight: globalSearch"></td>
      <td ng-bind-html="row.address | highlight: globalSearch"></td>

      <td><span class="dropdown" dropdown>
        <i class="dropdown-toggle icon-menu3" dropdown-toggle></i>
      <ul class="dropdown-menu grid-menu">
        <li>
          <a href ng-click="Providers.on.editOptsClick(row)"><i class="icon-pencil"></i> <span>Edit</span></a>
        </li>
        <li>
          <a href ng-click="Providers.on.deleteOptsClick(row)"><i class="icon-bin"></i> <span>Delete</span></a>
        </li>
        <!--<li>-->
        <!--<a href><i class="icon-eye"></i> <span>View</span></a>-->
        <!--</li>-->
      </ul>
    </span></td>
    </tr>
    <tr ng-if="!Providers.smartTable.rowCollection.length">
      <td colspan="5" class="text-center">
        <span>No Providers found</span>
      </td>
    </tr>
    </tbody>
    <tbody ng-if="Providers.smartTable.isLoading">
    <tr>
      <td colspan="5">
        <!--<div class="grid-loader">-->
        <i class="icon-spinner10 grid-loader"></i>
        <!--</div>-->
      </td>
    </tr>
    </tbody>
    <tfoot ng-if="!Providers.smartTable.isLoading">

    <tr>

      <td colspan="5">
        <div class="text-center" st-pagination="" st-items-by-page="Providers.smartTable.resultsPerPage"></div>
        <small ng-if="Providers.smartTable.rowCollection.length" class="content-range text-center">
          {{Providers.smartTable.contentRange}}
        </small>
      </td>
    </tr>


    </tfoot>
  </table>


</div>
