<div class="error" ng-message="required">
  <span popover-append-to-body="true" popover-trigger="mouseenter"
        popover="This field is mandatory, please fill it with proper information"
        class="label label-danger">Required</span>
</div>
<div class="error" ng-message="email">
  <span popover-append-to-body="true" popover-trigger="mouseenter"
        popover="This field is an email, please fill it with proper information"
        class="label label-danger">Invalid email address</span>
</div>

